.added-element-part{
    padding: 10px;
    background-color: rgb(204, 203, 203);
}


.exercise-section{
    margin: 20px 0;
}
.time-count{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.time-count h4{
    font-weight: 600;
    text-transform: capitalize;
    font-size: 16px;
}

.added-element-part h3{
    font-size: 16px;
    text-transform: uppercase;
    color: tomato;
}

.add-btn{
    margin: 14px auto;
    padding: 8px 14px;
    background-color: tomato;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    border-radius: 10px;
    border: none;
}
