
.break-time-section{
    margin: 20px 0;
}
.break-time{
    padding: 15px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.break-time p{
    width: 32px;
    height: 32px;
    border-radius: 50px;
    display: grid;
    background-color: white;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    cursor: pointer;
}
