.catagory{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.catagory-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

@media screen and (max-width:992px) {
    .catagory-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width:668px) {
    .catagory{
        grid-template-columns: 1fr;
    }
    .catagory-container{
        grid-template-columns: 1fr;
    }
}